body, html {
  font-family: 'Raleway', sans-serif;
  height: 100%;
  margin: 0;
}

body {
  background-image: url("../Images/full-bloom.png")
 }

h1 {
  color: white;
  font-family: 'Montserrat', sans-serif;
  font-size: 60px;
  text-shadow:6px 6px 10px black;
  -webkit-text-stroke-width: .4px;
  -webkit-text-stroke-color: #ffab00;
}

h2{
font-size: 44px;
color: #ffab00;
text-shadow:2px 2px 4px black;
}

h3 {
  color: #ffab00;
  text-shadow:1px 1px 2px black;
}

/* CLASSES */

.about {
  font-size: 18px;
  margin-bottom: 20px;
}

.contactMe {
  display: none;
}

.container {
  margin-top: 50px;
}

.headshot {
  border: solid 1px #ffab00;
  display: block;
  margin-top: 40px;
  margin-left: auto;
  margin-right: auto;
  width: 250px;
}

.hero {
  background-image: url("../Images/IMG_3404.JPG");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height:60%;
  position: absolute;
  width: 100%;
  border-bottom: 6px solid #ffab00;
}

.hero2 {
  background-image: url("../Images/IMG_3404.JPG");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height:60%;
  position: absolute;
  width: 100%;
  border-bottom: 6px solid #ffab00;
}

.hero-text {
  /* color: black; */
  left: 50%;
  position: relative;
  text-align: center;
  margin-top: 40px;
  transform: translate(-50%, -50%);
}

.heroPortText {
  left: 50%;
   position: relative;
   text-align: center;
   margin-top: 225px;
   transform: translate(-50%, -50%);
  }

.me {
  font-size: 22px;
}

.photo {
  margin-bottom: 160px;
}

.projectTitle {
  font-size: 24px;
  margin-top: 12px;
  color: #ffab00;
  text-shadow:1px 1px 2px black;
  margin-left: auto;
  margin-right: auto;
}

.projects {
  margin-top: 400px
}

.skills {
  height: 60px;
}

.projectImage {
  height: 200px;
  margin-left: auto;
  margin-right: auto;
  border: solid 2px #ffab00;
}

/* ID'S */

#projects {
  margin-top: 400px;
}

#quote {
  background-color: lightgrey;
}

#skill {
  margin-top: 400px;
}

@media (max-width: 1000px) {
  .hero2 {height: 60%;}
  .heroPortText {margin-top: 225px;}
  .projects {margin-top: 380px;}
}

/* if greater than or equal to 720 */
@media (min-width: 720px) {
  .smallPic {display: none;}
  .smallPicText {display: none;}
  .hero-image2 {height: 300px;}
}

  /* if device is 719 or less */
@media (max-width: 719px) {
  .smallPic {display: block;
    position: relative;
  align-items: center;}
  .coloredBox {display: none;}
  .hero-text {font-size: 48px;
    margin-top: 60px;}
    .headshot {width: 225px;
  margin-top: 20px;}
  .hero-image2 {height: 200px;}
  .hero2 {height: 60%;}
  .hero-image {padding-top: 80px;}
  .skills {height: 60px;}
  .photo {height: 200px;}
}
  