body, html {
  font-family: 'Raleway', sans-serif;
  height: 100%;
  margin: 0;
}

body {
  background-image: url("../Images/full-bloom.png")
}

h1 {
  color: white;
  font-family: 'Montserrat', sans-serif;
  font-size: 60px;
  text-shadow:6px 6px 10px black;
  -webkit-text-stroke-width: .4px;
  -webkit-text-stroke-color: goldenrod;
}


h2{
font-size: 44px;
color: goldenrod;
text-shadow:2px 2px 4px black;
}

h3 {
  color: goldenrod;
  text-shadow:1px 1px 2px black;

}

.coloredBox {
  background-color: rgba(0, 0, 0, 0.6);
  border-left: 6px solid goldenrod;
  color: white;
  height: 200px;
  position: relative;
  text-align: center;
  width: 200px;
}
.contactMe {
  display: none;
}

.container {
  margin-top: 50px;
}

.github {
  margin-top: 20px;
}

.headshot {
  border: solid 1px goldenrod;
}

.hero-image {
  background-image: url("../Images/IMG_3404.JPG");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 60%;
  position: relative;
  border-bottom: 6px solid goldenrod;
}

.hero-image2 {
  background-image: url("../Images/IMG_3404.JPG");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height:60%;
  position: relative;
  border-bottom: 6px solid goldenrod;

}

.hvrbox .hvrbox-layer_image {
  background: transparent none repeat scroll 0% 0%;
  padding: 0px;
}

.hvrbox,
.hvrbox * {
	box-sizing: border-box;
}
.hvrbox {
	display: inline-block;
	height: auto;
	max-width: 100%;
	overflow: hidden;
	position: relative;
}

.hvrbox img {
	max-width: 100%;
}

.hvrbox .hvrbox-layer_bottom {
	display: block;
}

.hvrbox .hvrbox-layer_top {
	opacity: 0;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, 0.6);
	color: #fff;
	padding: 15px;
	-moz-transition: all 0.4s ease-in-out 0s;
	-webkit-transition: all 0.4s ease-in-out 0s;
	-ms-transition: all 0.4s ease-in-out 0s;
	transition: all 0.4s ease-in-out 0s;
}

.hvrbox:hover .hvrbox-layer_top,
.hvrbox.active .hvrbox-layer_top {
	opacity: 1;
}

.hvrbox .hvrbox-text {
	text-align: center;
	font-size: 18px;
	display: inline-block;
	position: absolute;
	top: 50%;
	left: 50%;
	-moz-transform: translate(-50%, -50%);
	-webkit-transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
}

.hvrbox .hvrbox-text_mobile {
	font-size: 15px;
	border-top: 1px solid rgb(179, 179, 179); /* for old browsers */
	border-top: 1px solid rgba(179, 179, 179, 0.7);
	margin-top: 5px;
	padding-top: 2px;
	display: none;
}

.hvrbox.active .hvrbox-text_mobile {
	display: block;
}

div.transbox {
  background-color: #ffffff;
  border: 1px solid black;
  filter: alpha(opacity=60); /* For IE8 and earlier */
  margin: 30px;
  opacity: 0.6;
  width: 100%;
}
  
div.transbox h1 {
  color: #000000;
  font-weight: bold;
  margin: 5%;
}
  
.hero-text {
  color: black;
  left: 50%;
  position: absolute;
  text-align: center;
  top: 50%;
  transform: translate(-50%, -50%);
}

.hero-text2 {
  position: absolute;
  top: 10%;
  left: 10%;
}

/* .hero-text button {
  cursor: pointer;
  background-color: #ddd;
  border: none;
  color: black;
  display: inline-block;
  outline: 0;
  padding: 10px 25px;
  text-align: center;
} */

/* .hero-text button:hover {
  background-color: #555;
  color: white;
} */

.portfolio {
  color: white !important;
  margin-top: 8px;
}

.boxText {
  color: white;
  font-size: 30px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}


